@import '../../styles/abstract/variables';

.container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.title {
  color: $header-color;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 0.3em;
}

.logo {
  color: $header-color;
}
