@import '../../../styles/abstract/variables';

.container {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
}

.input {
  padding: 0 10px;
}

.editor {
  @extend .input;
}

.text {
  @extend .input;
  line-height: 100%;
  cursor: pointer;
}

.completed {
  @extend .text;
  text-decoration: line-through;
  color: $inactive-color;
}

.icon-delete {
  visibility: hidden;
}

.container:hover .icon-delete {
  visibility: visible;
}
